@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #353340;
}

.quiz-scene {
    background-color: #353340;
    width: 35vw;
    height: 35vw;
    position: absolute;
    transform: translate(-135%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 25px;
    box-shadow: 0 0 10px #685073;
}

.quiz-container {
    background-color: #353340;
    width: 56vw;
    height: 42vw;
    position: absolute;
    transform: translate(-15%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 25px;
    box-shadow: 0 0 15px #9c73ae;
}

.quiz-header {
    padding: 2rem;
}

.quiz-header {
    font-size: 1.7vw;
    font-weight: 600;
    text-align: left;
    color: #A9A3CC;
    border-radius: 25px 25px 0 0;
}

.quiz-body ul {
    list-style: none;
    padding: 0;
    margin:  1vw 14vw 0 14vw;
}

.quiz-body ul li {
    padding: 0.5rem;
}

.quiz-body input {
    display: none;
}

.quiz-body label {
    font-size: 1.3vw;
    font-weight: 500;
    display: inline-block;
    background-color: #5e3370;
    width: 25vw;
    padding: 1vw 0;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

.quiz-body input:checked + label {
    color: #b2abd8;
    transition: 0.3s linear;
}

.quiz-body button {
    border: none;
    background-color: #5e3370;
    color: #fff;
    width: 10vw;
    height: 3vw;
    border-radius: 10px;
    float: right;
    margin: 5vw 2vw 0 0;
}