@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2d2b39;
}

.credits-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits-page span {
    font-family: 'Sora', sans-serif;
    font-size: 2.3vw;
    font-weight: 500;
    margin: 2vw;
}

.credits-page img {
    max-width: 35vw;
    max-height: 20vw;
}

.creators-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profiles {
    display: flex;
    flex-direction: row;
    background-color: #423973;
    width: 30vw;
    height: 10vw;
    margin: 1vw;
    padding: 1vw;
}

.profile-picture {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin: 0 1vw 0 1vw;
}

.creator-info {
    text-align: center;
    background-color: #423973;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}

.creator-name {
    background-color: #423973;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
}

.social-icons{
    background-color: #423973;
    margin-top: 1vw;
}

.social-icons img{
    background-color: #423973;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}


